.custom-row {
  height: 100vh;
  margin: 0;
}
.custom-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.img-style {
  height: 80px;
  width: 80px;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 5px 10px 18px #14588f;
  z-index: 3;
}
.header-appname {
  font-size: 32px;
  font-weight: bolder;
  color: #dcf3f9;
  letter-spacing: 0.2px;
  text-align: center;
}
.header-tagline {
  margin-top: 20px;
  color: #dcf3f9;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}
.google-button-container {
  margin: 10px;
  text-align: center;
  background-color: #39a9db;
  border: none;
  border-radius: 5px;
  color: #dcf3f9;
  font-size: 15px;
}
.login-msg {
  margin: 5px;
  text-align: center;
  font-size: 24px;
  color: #1c77c3;
}
